<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Menhely</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="gazdik" class="nav-link">Gazdik</a>
      </li>
      <li class="nav-item">
        <a routerLink="addGazdi" class="nav-link">Gazdi hozzáadása</a>
      </li>
      <li class="nav-item">
        <a routerLink="hazikedvencek" class="nav-link">Házikedvencek</a>
      </li>
      <li class="nav-item">
        <a routerLink="addHazikedvenc" class="nav-link">Házikedvenc hozzáadása</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
